<html>

<body>

	<p>
		<h3>hello flask !!!!!!!!!!!!</h3>
	</p><br />
	<table>
		<tr>
			<td>News</td>
			<td><a href='http://localhost:5000/economy'>Economy</a></td>
			<td><a href='http://localhost:5000/politics'>Politics and Nation</a></td>
			<td><a href='http://localhost:5000/science'>Science</a></td>
		</tr>
		<tr>
			<td>Markets</td>
			<td><a href='http://localhost:5000/stock'>Stocks</a></td>
			<td><a href='http://localhost:5000/ipo'>IPOs/FPOs</a></td>
			<td><a href='http://localhost:5000/bond'>Bonds</a></td>
		</tr>
		<tr>
			<td>Industry</td>
			<td><a href='http://localhost:5000/auto'>Auto</a></td>
			<td><a href='http://localhost:5000/banking'>Banking/Finance</a></td>
			<td><a href='http://localhost:5000/tech'>Tech</a></td>
		</tr>
	</table>
	<!-- 1)<a href='http://localhost:5000/bbc'>BBC HeadLines</a><br />
	2)<a href='http://localhost:5000/gadget'>Gadgets</a><br />
	3)<a href='http://localhost:5000/stock'>stock</a><br />
	4)<a href='http://localhost:5000/podcast'>podcast</a><br /> -->


</body>

</html>